@font-face {
    font-family: 'Futura';
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-light.eot.css");
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-light.woff.css") format("woff"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-light.woff2.css") format("woff2"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-light.ttf.css") format("truetype"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-light.svg.css") format("svg"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-light.eot.css?#iefix") format("embedded-opentype");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: 'Futura';
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-light-italic.eot.css");
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-light-italic.woff.css") format("woff"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-light-italic.woff2.css") format("woff2"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-light-italic.ttf.css") format("truetype"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-light-italic.svg.css") format("svg"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-light-italic.eot.css?#iefix") format("embedded-opentype");
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: 'Futura';
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium.eot.css");
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium.woff.css") format("woff"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium.woff2.css") format("woff2"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium.ttf.css") format("truetype"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium.svg.css") format("svg"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium.eot.css?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Futura';
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-italic.eot.css");
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-italic.woff.css") format("woff"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-italic.woff2.css") format("woff2"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-italic.ttf.css") format("truetype"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-italic.svg.css") format("svg"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-italic.eot.css?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: 'Futura';
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-heavy.eot.css");
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-heavy.woff2.css") format("woff2"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-heavy.woff.css") format("woff"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-heavy.ttf.css") format("truetype"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-heavy.svg.css") format("svg"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-heavy.eot.css?#iefix") format("embedded-opentype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Futura';
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-heavy-italic.eot.css");
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-heavy-italic.woff2.css") format("woff2"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-heavy-italic.woff.css") format("woff"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-heavy-italic.ttf.css") format("truetype"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-heavy-italic.svg.css") format("svg"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-heavy-italic.eot.css?#iefix") format("embedded-opentype");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: 'Futura Book';
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-book.eot.css");
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-book.woff.css") format("woff"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-book.woff2.css") format("woff2"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-book.ttf.css") format("truetype"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-book.svg.css") format("svg"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-book.eot.css?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Futura Book';
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-book-black.eot.css");
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-book-black.woff.css") format("woff"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-book-black.woff2.css") format("woff2"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-book-black.ttf.css") format("truetype"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-book-black.svg.css") format("svg"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-book-black.eot.css?#iefix") format("embedded-opentype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Futura Book';
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-book-italic.eot.css");
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-book-italic.woff.css") format("woff"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-book-italic.woff2.css") format("woff2"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-book-italic.ttf.css") format("truetype"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-book-italic.svg.css") format("svg"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-book-italic.eot.css?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: 'Futura Condensed';
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-condensed-italic.eot.css");
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-condensed-italic.woff2.css") format("woff2"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-condensed-italic.woff.css") format("woff"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-condensed-italic.ttf.css") format("truetype"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-condensed-italic.svg.css") format("svg"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-condensed-italic.eot.css?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: 'Futura Condensed';
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-condensed.eot.css");
    src: url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-condensed.woff2.css") format("woff2"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-condensed.woff.css") format("woff"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-condensed.ttf.css") format("truetype"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-condensed.svg.css") format("svg"),url("https://lojaanimale.vteximg.com.br/arquivos/futura-medium-condensed.eot.css?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Didot';
    src: url("~@/assets/fonts/Didot.woff2") format('woff2'),
        url("~@/assets/fonts/Didot.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}