<template>
  <div class="home">
    <Hero />
    <section class="home-content">
      <Carousel />
      <section class="featured-block">
        <Featured title="Vestidos" href="#" src="http://placehold.it/354x354"/>
        <Featured title="Seda" href="#" src="https://source.unsplash.com/random/354x354"/>
      </section>
      <Carousel />
      <CarouselAlt />
    </section>
  </div>
</template>

<script>
import Hero from '@/components/Hero.vue'
import Carousel from '@/components/Carousel.vue'
import CarouselAlt from '@/components/CarouselAlt.vue'
import Featured from '@/components/Featured.vue'

export default {
  name: 'Home',
  components: {
    Hero,
    Carousel,
    CarouselAlt,
    Featured
  }
}
</script>

<style lang="scss" scoped>
  .home, .home-content {
    overflow-x:hidden;
    max-width:100%;
  }

  @media(min-width:992px) {
    .home-content {
      max-width:920px;
      margin:0 auto;
    }
    .home .featured-block {
      display:grid;
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      max-width:920px;
      margin:0 auto;
    }
  }
</style>
