<template>
  <div class="products">
    <Breadcrumb :items="[
    {'name':'Home', 'path':'/'},
    {'name':'Produtos', 'path':'/Products'}
    ]"/>
    <ProductFilter />
    <ProductList />
  </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrumb.vue'
import ProductFilter from '@/components/ProductFilter.vue'
import ProductList from '@/components/ProductList.vue'

export default {
  name: 'Products',
  components: {
    Breadcrumb,
    ProductFilter,
    ProductList
  }
}
</script>
