<template>
  <div class="product-page" v-if="product">
      <div class="product-image" v-if="$isMobile()">
          <img :src="this.product.images[0]" :alt="this.product.name">
      </div>
      <div class="product-image" v-else>
          <img v-for="(image, index) in this.product.images" :key="index" :src="image" alt="">
      </div>
      <div class="info">
        <div class="content">
          <h1>{{product.name}}</h1>
          <div class="price">
            <h3>R$ {{ parseFloat(product.price).toFixed(2) }}</h3>
            <span>{{`ou ${product.installments.NumberOfInstallments}x de R$${parseFloat(product.installments.TotalValuePlusInterestRate / product.installments.NumberOfInstallments).toFixed(2)}`}}</span>
          </div>
          <div class="controls">
            <button class="btn-buy">COMPRAR</button>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Product',
  data: function () {
    return {
      product: null
    }
  },
  computed: {
    ...mapGetters({
      products: 'products/getProducts'
    })
  },
  created () {
    console.log('created')
    this.$store.dispatch('products/loadProducts').then(() => {
      this.product = this.products.find(product => product.id === this.$route.params.id)
    })
  }
}
</script>

<style lang="scss" scoped>
.product-page {
  .product-image {
    max-width:100%;
    img {
      max-width:100%;
      height:auto;
      display:block;
    }
  }

  .info {
    padding:20px;
    h1 {
      font-size:16px;
      font-weight:400;
    }

    .price {
      margin-top:15px;
      display:flex;
      align-items:center;
      flex-wrap: wrap;

      h3 {
        margin-right:4px;
      }

      h3, span {
        font-size:12px;
      }
    }

    .controls {
      margin-top:20px;

      .btn-buy {
        background:black;
        color:white;
        border:none;
        display:flex;
        align-items: center;
        justify-content: center;
        height:58px;
        padding:4px 15px;
        font-size:14px;
        font-weight:600;
        width:100%;
      }
    }
  }
}

@media(min-width:992px) {
  .product-page {
    display:grid;
    grid-template-columns: 1fr 480px;

    .product-image {
      display:grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }

    .info {
      position:relative;

      .content {
        position:sticky;
        top:80px;
        right:0;
        left:0;
      }
    }
  }
}
</style>
