<template>
    <li class="accordion" :class="{open: isOpen}">
        <div class="title" @click="isOpen = !isOpen">
            {{ name }}
            <div class="open-indicator">
                <span>+</span>
            </div>
        </div>
        <div class="content">
            <div class="inner-content">
                <slot></slot>
            </div>
        </div>
    </li>
</template>

<script>
export default {
  name: 'AccordeonItem',
  props: {
    name: String
  },
  data: function () {
    return {
      isOpen: false
    }
  }
}
</script>

<style lang="scss" scoped>
    .accordion {
        .title {
            display:flex;
            justify-content: space-between;
            align-items:center;
            width:100%;

            .open-indicator {
                span {
                    transition: all 0.3s cubic-bezier(.55,0,.1,1);
                    transform-origin: center center;
                    transform:rotate(0deg);
                    text-align:center;
                    font-size:32px;
                    line-height:32px;
                    display:flex;
                    align-items:center;
                    justify-content: center;
                    font-weight:100;
                    font-family:sans-serif;
                    font-weight: 100;
                }
            }
        }

        .content {
            transition: all 0.3s cubic-bezier(.55,0,.1,1);
            max-height:0;
            overflow:hidden;
            transform-origin:top;
            opacity:0;
        }
    }

    .accordion.open {
        .title {
            .open-indicator {
                span {
                    transform:rotate(45deg);
                }
            }
        }

        .content {
            max-height:100vh;
            opacity:1;
        }
    }
</style>
