<template>
    <ul class="breadcrumb">
        <li v-for="item in items" :key="item.name">
            <router-link :to="item.path">{{ item.name }}</router-link>
        </li>
    </ul>
</template>

<script>
export default {
  props: {
    items: Array
  }
}
</script>

<style lang="scss" scoped>
.breadcrumb {
    display:flex;
    align-items:center;
    list-style:none;
    padding:8px;

    li a {
        color: rgba(0,0,0,0.5);
        text-decoration: none;
    }

    li:last-child a {
        color: rgba(0,0,0,1);
    }

    li + li {
        margin-left:8px;
        &:before {
            content:"";
            display:inline-block;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid black;
            margin-right:8px;
        }
    }
}
</style>
