<template>
    <div class="carousel">
        <div class="carousel-title"><h3>BESTSELLERS</h3></div>
        <splide :options="sliderOptions">
            <splide-slide>
                <img src="http://placehold.it/175x280/333333?Text=Item%201">
                <div class="content">
                    <h4 class="product-name">Vestido Curto Floral</h4>
                    <span class="product-price">4x de R$ 117,00</span>
                    <button class="product-cta">SHOP NOW</button>
                </div>
            </splide-slide>
            <splide-slide>
                <img src="http://placehold.it/175x280/aaaaaa?Text=Item%202">
                <div class="content">
                    <h4 class="product-name">Vestido de viscose curto estampa fran preto e branco gola lurex</h4>
                    <span class="product-price">4x de R$ 259,00</span>
                    <button class="product-cta">SHOP NOW</button>
                </div>
            </splide-slide>
            <splide-slide>
                <img src="http://placehold.it/175x280/f0f0f0?Text=Item%203">
                <div class="content">
                    <h4 class="product-name">Vestido Curto Floral</h4>
                    <span class="product-price">4x de R$ 117,00</span>
                    <button class="product-cta">SHOP NOW</button>
                </div>
            </splide-slide>
        </splide>
    </div>
</template>

<script>
import { Splide, SplideSlide } from '@splidejs/vue-splide'
import '@splidejs/splide/dist/css/splide-core.min.css'

export default {
  name: 'Carousel',
  components: {
    Splide,
    SplideSlide
  },
  data () {
    return {
      sliderOptions: {
        type: 'loop',
        perPage: 4,
        perMove: 4,
        gap: '8px',
        width: '100%',
        pagination: false,
        breakpoints: {
          992: {
            perPage: 2,
            perMove: 1
          }
        }
      }
    }
  }
}
</script>

<style lang="scss">
    .carousel {
        margin:16px 8px 64px 8px;
        .carousel-title {
            display:flex;
            align-items:center;
            justify-content: space-between;
            margin-bottom:8px;

            h3 {
                padding:0 8px;
                font-weight:400;
                font-size:16px;
            }
            &:before, &:after {
                content:"";
                width:100%;
                height:1px;
                background-color:black;
            }
        }
        .splide {
            position:relative;

            .splide__arrows {
                position:absolute;
                top: calc(50% - 101px/2); //altura do content
                left:0;
                right:0;
                transform:translateY(-50%);
                display:flex;
                justify-content: space-between;
                align-items:center;
                z-index:2;
                pointer-events:none;

                .splide__arrow {
                    background:rgba(255,255,255,0.7);
                    border:none;
                    padding:4px;
                    pointer-events:all;

                    svg {
                        max-width:18px;
                    }
                }

                .splide__arrow--prev {
                    transform:scaleX(-1);
                }
            }

            .splide__slide {
                display:flex;
                flex-direction:column;
                align-items:center;

                img {
                    display:block;
                    max-width:100%;
                    height:auto;
                }

                .content {
                    display:flex;
                    align-items:center;
                    justify-content: center;
                    flex-direction: column;
                    max-width:100%;

                    .product-name {
                        font-size:16px;
                        font-weight:400;
                        margin-bottom:8px;
                        margin-top:8px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width:100%;
                    }

                    .product-price {
                        font-size:14px;
                        margin-bottom:12px;
                    }

                    .product-cta {
                        background:none;
                        border: 1px solid black;
                        padding:8px;
                    }
                }
            }
        }
    }
</style>
