<template>
    <a :href="href" class="featured">
        <img :src="src" alt="Featured">
        <div class="content">
            <span>{{title}}</span>
        </div>
    </a>
</template>

<script>
export default {
  name: 'Featured',
  props: {
    title: String,
    src: String,
    href: String
  }
}
</script>

<style lang="scss" scoped>
    .featured {
        margin:8px;
        display:block;
        position:relative;
        text-decoration: none;

        img {
            width:100%;
            height:auto;
            display:block;
            object-fit: cover;
        }

        .content {
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            background-color: rgba(0,0,0,0.8);
            display:flex;
            align-items: center;
            justify-content: center;
            padding:20px 8px;

            span {
                color:white;
                text-transform:uppercase;
            }
        }
    }
</style>
