<template>
    <footer>
        <section class="newsletter">
            <h6>Newsletter</h6>
            <p>Cadastre-se e fique por dentro <br/> das nossas novidades e promoções:</p>
            <form action="">
                <input type="text" name="name" id="name" placeholder="NOME">
                <input type="text" name="email" id="email" placeholder="E-MAIL">
                <button type="submit">OK</button>
            </form>
        </section>
        <section class="menu">
            <ul>
                <li><a href="#">A Marca</a></li>
                <li><a href="#">Minha Conta</a></li>
                <li><a href="#">Políticas</a></li>
                <li><a href="#">Forma de Pagamento</a></li>
                <li><a href="#">Redes Sociais</a></li>
                <li><a href="#">Outras Coleções</a></li>
            </ul>
        </section>
        <section class="back-to-top">
            <button class="scroll-trigger" @click="scrollToTop()">SUBIR</button>
        </section>
        <section class="copyright">
            <p>RBX RIO COMÉRCIO DE ROUPAS SA. ESTRADA DOS BANDEIRANTES 1700 - GALPÃO 03 ARMAZ 104, TAQUARA. CEP. 22775109 - RIO DE JANEIRO/ RJ - CNPJ: 10.285.590/0002-80 - TELEATENDIMENTO: (21)2503-6897 - E-MAIL: DACA@ANIMALE.COM.BR</p>
        </section>
    </footer>
</template>

<script>
export default {
  name: 'FooterMobile',
  methods: {
    scrollToTop () {
      document.querySelector('#app').scrollIntoView({ behavior: 'smooth', block: 'start' })
    }
  }
}
</script>

<style lang="scss" scoped>
footer {
    background-color: #000;
    color: #fff;
    flex-shrink:0;

    .newsletter {
        padding:30px 15px;
        text-align:center;

        h6 {
            font-size:18px;
            margin-bottom: 15px;
            display:block;
            font-weight:400;
            text-transform: uppercase;
        }

        p {
            font-size:16px;
            font-weight:100;
        }

        form {
            margin-top:18px;
            input {
                font-size:12px;
                padding: 0 15px;
                color: #fff;
                background: transparent;
                border: 1px solid #fff;
                margin-bottom: 8px;
                height:32px;
                width:100%;

                &::placeholder {
                    color: #bbbcbf;
                }
            }

            button {
                padding:8px;
                font-size:12px;
                width:100%;
                background:#fff;
                border:none;
            }
        }
    }

    .menu {
        ul {
            list-style:none;
            li:first-child a {
                border-top: 1px solid #2c2b2a;
            }
            li a {
                border-bottom:1px solid #2c2b2a;
                display:flex;
                width:100%;
                align-items:center;
                font-size:12px;
                padding:15px;
                text-decoration:none;
                color:white;
                font-weight:bold;
                text-transform:uppercase;
            }
        }
    }

    .back-to-top {
        display:flex;
        align-items:center;
        justify-content: center;
        .scroll-trigger {
            display:flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            background:none;
            border:none;
            color:white;
            font-size: 18px;
            font-weight: 500;
            padding:25px;
            letter-spacing: 2.07px;
            transition: transform 0.1s cubic-bezier(.55,0,.1,1);
            user-select:none;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;

            &:focus, :active {
                outline: none;
                border:none;
            }

            &:active {
                transform:scale(0.90);
            }
        }

        .scroll-trigger:before {
            content:"";
            width:10px;
            height:10px;
            transform:rotate(45deg);
            border-top: 3px solid #fff;
            border-left: 3px solid #fff;
            display:block;
            margin-bottom:4px;
            transition: transform 0.1s cubic-bezier(.55,0,.1,1);
        }

        .scroll-trigger:active:before {
            transform:rotate(45deg) translate(-5px, -5px);
        }
    }

    .copyright {
        background-color:white;
        color: black;
        padding:15px;
        text-align:center;
        font-size:12px;
    }
}
</style>
