<template>
    <footer>
        <div class="newsletter">
            <div class="container">
                <div class="content">
                    <h3 class="newsletter-title">NEWSLETTER</h3>
                    <p class="newsletter-lead">Cadastre-se para receber nossas novidades e promoções:</p>
                </div>
                <div class="form">
                    <form action="">
                        <input type="text" name="Nome" id="NewsletterName" placeholder="NOME">
                        <input type="text" name="Email" id="NewsletterEmail" placeholder="E-MAIL">
                        <input type="submit" value="OK">
                    </form>
                </div>
            </div>
        </div>
        <div class="menu">
            <button class="caret"></button>
            <ul>
                <li><a href="#">A Marca</a></li>
                <li><a href="#">Minha Conta</a></li>
                <li><a href="#">Políticas</a></li>
                <li><a href="#">Formas de Pagamento</a></li>
                <li><a href="#">Newsletter</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>RBX RIO COMÉRCIO DE ROUPAS LTDA. ESTRADA DOS BANDEIRANTES, 1.700 - GALPÃO 03, ARMAZÉM 104 - TAQUARA, RIO DE JANEIRO, RJ - CEP: 22775-109. CNPJ: 10.285.590/0002-80.</p>
        </div>
    </footer>
</template>

<script>
export default {
  name: 'FooterDesktop'
}
</script>

<style lang="scss" scoped>
    footer {
        display:flex;
        flex-direction:column;

        .container {
            width:100%;
            max-width:992px;
            margin:0 auto;
            padding:0 15px;
        }

        .newsletter {
            background-color: #f0f0f0;
            padding-top:15px;
            padding-bottom:15px;

            .container {
                display:flex;
                align-items:center;
                justify-content: center;
            }

            .content {
                .newsletter-title {
                    font-size:23px;
                    font-weight:500;
                }
                .newsletter-lead {
                    font-size:16px;
                    width:100%;
                    max-width:280px;
                }
            }

            .form form {
                display:flex;
                flex-wrap:wrap;
                padding:8px;

                input[type=text] {
                    padding:6px;
                    border:none;
                }

                input#NewsletterName {
                    flex-basis:100%;
                    margin-bottom:8px;
                }

                input#NewsletterEmail {
                    flex-basis:80%;
                    margin-right:8px;
                }

                input[type=submit] {
                    flex-grow:1;
                    border:none;
                    background-color:black;
                    color:white;
                }
            }
        }

        .menu {
            background-color:black;
            display:flex;
            align-items: center;
            justify-content: flex-start;

            button.caret {
                width:32px;
                height:32px;
                background:none;
                border:none;
                margin-left:4px;
                position:relative;
                transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);

                &:before {
                    content:"";
                    display:block;
                    width:8px;
                    height:8px;
                    border:2px solid white;
                    border-top-color:transparent;
                    border-left-color:transparent;
                    transform:rotate(45deg);
                    position:absolute;
                    top:calc(50% - 10px);
                    left:calc(50% - 8px);
                }
            }

            button.caret.active {
                transform:rotate(180deg);
            }

            ul {
                list-style:none;
                padding-left:0;
                display:flex;
                justify-content: space-between;
                align-items:center;
                width:100%;
                max-width:900px;
                padding:8px;

                li + li {
                    margin-left:8px;
                }

                li {
                    padding:8px;
                    a {
                        color:white;
                        text-decoration:none;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .copyright {
            display:flex;
            align-items: center;
            justify-content: center;
            p {
                margin:0 auto;
                padding:8px;
                font-size:10px;
            }
        }
    }
</style>
