<template>
    <div class="hero">
      <splide :options="heroOptions">
        <splide-slide>
          <div class="content">
            <span>Lançamento</span>
            <h3>Lorem<br/>Ipsum</h3>
            <button>SHOP NOW</button>
          </div>
          <img data-splide-lazy="https://source.unsplash.com/random/585x400">
        </splide-slide>
        <splide-slide>
          <div class="content">
            <span>Lançamento</span>
            <h3>Lorem<br/>Ipsum</h3>
            <button>SHOP NOW</button>
          </div>
          <img data-splide-lazy="https://source.unsplash.com/random/585x400">
        </splide-slide>
        <splide-slide>
          <img data-splide-lazy="https://source.unsplash.com/random/585x400">
        </splide-slide>
      </splide>
      <button class="scroll-down" @click="scrollDown"></button>
    </div>
</template>

<script>
import { Splide, SplideSlide } from '@splidejs/vue-splide'
import '@splidejs/splide/dist/css/splide-core.min.css'

export default {
  name: 'Hero',
  components: {
    Splide,
    SplideSlide
  },
  data () {
    return {
      heroOptions: {
        lazyLoad: 'sequential',
        height: '585px'
      }
    }
  },
  methods: {
    scrollDown: function () {
      document.querySelector('.scroll-down').scrollIntoView({ alignToTop: true, behavior: 'smooth' })
    }
  }
}
</script>
<style lang="scss">
.hero .splide {
  .splide__arrows {
    position:absolute;
    top:50%;
    left:0;
    right:0;
    transform:translateY(-50%);
    z-index:2;
    display:flex;
    align-items:center;
    justify-content: space-between;
    pointer-events: none;

    button {
      padding: 8px 8px 8px 16px;
      background:none;
      border:none;
      pointer-events:all;

      svg {
        filter: invert(1);
        max-width:20px;
      }

      &:disabled {
        opacity:0.5;
      }
    }

    .splide__arrow--prev {
      transform:scaleX(-1);
    }
  }

  .splide__pagination {
    position:absolute;
    bottom:0;
    right:0;
    justify-content: flex-end;
    padding:8px;

    li + li {
      margin-left:8px;
    }

    .splide__pagination__page {
      width:16px;
      height:16px;
      background:none;
      border:2px solid white;
      transition: background 0.3s cubic-bezier(.55,0,.1,1);
      background-color: rgba(255,255,255,0.2);
    }

    .splide__pagination__page.is-active {
      background-color:white;
    }
  }
}
</style>

<style lang="scss" scoped>
.hero .splide__slide {
  max-width:100vw;
  position:relative;
  display:flex;
  align-items:center;
  justify-content: center;
  background-color: #000;
}
.hero img {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  object-fit: cover;
  margin:0;
  padding:0;
  opacity:0.6;
}

.hero .is-visible .content {
  opacity:1;
  transform:scale(1);
}

.hero .content {
  display:flex;
  flex-direction:column;
  z-index:1;
  color:white;
  text-align:center;
  opacity:0;
  transform:scale(0.9);
  transition: all 0.3s cubic-bezier(.55,0,.1,1);

  span {
    font-size:20px;
    text-transform: uppercase;
  }

  h3 {
    font-family: Didot;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    line-height:1.2;
  }

  button {
    background:none;
    border:1px solid white;
    color: white;
    height:46px;
    font-size:13px;
    font-weight:bold;
    transition: transform 0.3s cubic-bezier(.55,0,.1,1);

    &:focus {
      outline:none;
      transform:scale(0.98);
    }

    &:active {
      color:black;
      background-color: white;
      transform:scale(0.93);
    }
  }
}

.hero .scroll-down {
  width:20px;
  height:20px;
  background:none;
  border:3px solid transparent;
  border-bottom-color:white;
  border-right-color:white;
  position:absolute;
  bottom:50px;
  left:50%;
  transform:translateX(-50%) rotate(45deg);
  transition: transform 0.1s cubic-bezier(.55,0,.1,1);

  &:focus {
    transform:translateX(-50%) rotate(45deg) scale(1.1);
    outline:none;
  }

  &:active {
    transform:translateX(-50%) rotate(45deg) scale(0.9);
    outline:none;
  }
}
</style>
