<template>
    <nav class="topnav" :class="{compact: isCompact}">
        <div class="contact">
            <ul>
                <li><a href="#"><img src="@/assets/Navbar/desktopIcons/location.svg" alt="Lojas"><span>Lojas</span></a></li>
                <li><a href="#"><img src="@/assets/Navbar/desktopIcons/mail.svg" alt="Contato"><span>Contato</span></a></li>
            </ul>
        </div>
        <div class="brand">
            <router-link to="/">
                <img src="@/assets/Navbar/brand.svg" alt="Animale">
            </router-link>
        </div>
        <div class="menu">
            <ul>
                <li><router-link to="/products">New Collection</router-link></li>
                <li><router-link to="/products">Coleção</router-link></li>
                <li><router-link to="/products">Joias</router-link></li>
                <li><router-link to="/products">Bazar</router-link></li>
                <li><router-link to="/products">Animale Card</router-link></li>
                <li><router-link to="/products">Inside</router-link></li>
            </ul>
        </div>
        <div class="controls">
            <ul>
                <li><a href="#"><img src="@/assets/Navbar/desktopIcons/search.svg" alt="Search"></a></li>
                <li><a href="#"><img src="@/assets/Navbar/desktopIcons/user.svg" alt="User"></a></li>
                <li><a href="#"><img src="@/assets/Navbar/desktopIcons/cart.svg" alt="Cart"></a></li>
            </ul>
        </div>
    </nav>
</template>

<script>
export default {
  name: 'NavbarDesktop',
  data () {
    return {
      isCompact: false,
      menuHeight: null
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll)
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
  },
  mounted () {
    this.menuHeight = document.querySelector('.topnav').clientHeight
  },
  methods: {
    handleScroll (event) {
      this.isCompact = window.pageYOffset > this.menuHeight
    }
  }
}
</script>

<style lang="scss" scoped>
.topnav {
    display:flex;
    background-color:white;
    flex-wrap:wrap;
    position:fixed;
    top:0;
    left:0;
    right:0;
    align-items:center;
    justify-content: space-between;
    width:100%;
    padding:20px 40px 0 40px;
    transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95), height 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    height:108px;
    z-index:99999;

    .contact img, .controls img {
        width:18px;
        height:18px;
    }

    div {
        animation-name: full-in;
        animation-duration: 0.6s;
        animation-timing-function: all 0.3s cubic-bezier(.55,0,.1,1);
        animation-fill-mode: both;
        opacity:0;
    }

    ul {
        list-style:none;
        padding-left:0;

        li a {
            text-decoration: none;
            color:black;
        }
    }

    .contact {
        order:2;
        animation-delay:0.1s;
    }
    .brand {
        order:1;
        flex-grow:1;
        flex-basis:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-bottom:8px;
        animation-delay:0s;
        opacity:0;
    }
    .menu {
        order:3;
        align-self:flex-end;
        animation-delay:0.2s;

        ul {
            display:flex;

            li a {
                padding:16px;
                display:flex;
                position:relative;

                &:before {
                    content:"";
                    position:absolute;
                    bottom:0;
                    left:0;
                    right:0;
                    height:1px;
                    background-color:black;
                    transform:scaleX(0);
                    transform-origin: left center;
                    transition: all 0.3s cubic-bezier(.55,0,.1,1);
                }
            }

            li a:hover {
                &:before {
                    transform:scaleX(1);
                }
            }
        }
    }
    .controls {
        order:4;
        animation-delay:0.3s;
    }

    .contact, .controls {
        padding:16px 0;
        ul {
            display:flex;

            li + li {
                margin-left:8px;
            }

            li a {
                display:flex;
                align-items:center;
                span {
                    margin-left:8px;
                }
            }
        }
    }
}

.topnav.compact {
    transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95), height 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    height:72px;

    div {
        animation-name: compact-in;
        animation-duration: 0.6s;
        animation-timing-function: both;
        opacity:0;
    }
    .brand {
        flex-basis: auto;
        order:2;
    }

    .menu {
        flex-grow:2;
    }

    .contact span {
        opacity:0;
        height:0;
        width:0;
    }
}

@keyframes compact-in {
    0% {
        opacity:0;
        transform:translateY(-10px);
    }

    100% {
        opacity:1;
        transform:translateY(0%);
    }
}

@keyframes full-in {
    0% {
        opacity:0;
        transform:translateY(10px);
    }

    100% {
        opacity:1;
        transform:translateY(0%);
    }
}
</style>
