<template>
  <nav class="topnav">
    <div class="menu">
      <button class="menu-button" @click="isActive = !isActive">
        <img src="@/assets/Navbar/menu.svg" alt="Menu">
        <span>Menu</span>
      </button>
    </div>
    <div class="brand">
      <router-link to="/">
        <img src="@/assets/Navbar/brand.svg" alt="Brand">
      </router-link>
    </div>
    <ul class="controls">
      <li class="search">
        <a href="#">
          <img src="@/assets/Navbar/search.svg" alt="Search">
        </a>
      </li>
      <li class="cart">
        <a href="#">
          <img src="@/assets/Navbar/cart.svg" alt="Cart">
        </a>
      </li>
    </ul>
    <div class="menu-collapsed" :class="{active: isActive}">
      <div class="backdrop" @click="isActive = !isActive"></div>
      <div class="controls">
        <ul>
          <li class="login">
            <a href="#">LOGIN</a>
          </li>
          <li class="whatsapp">
            <a href="#"><img src="@/assets/Navbar/whatsapp.svg" alt="Whatsapp"></a>
          </li>
          <li class="star">
            <a href="#"><img src="@/assets/Navbar/star.svg" alt="Star"></a>
          </li>
          <li class="close">
            <a href="#" @click="isActive = !isActive"><img src="@/assets/Navbar/close.svg" alt="Close"></a>
          </li>
        </ul>
      </div>
      <div class="sidebar">
        <div class="search">
          <input type="text" class="search-input" placeholder="Buscar...">
          <button class="search-icon">
            <img src="@/assets/Navbar/search.svg" alt="Search Icon">
          </button>
        </div>
        <ul class="menu" @click="isActive = false">
          <li><router-link to="/products">Novidades</router-link></li>
          <li><router-link to="/products">Coleção</router-link></li>
          <li><router-link to="/products">Bolsas</router-link></li>
          <li><router-link to="/products">Calçados</router-link></li>
          <li><router-link to="/products">Acessórios</router-link></li>
          <li><router-link to="/products">Intimates</router-link></li>
          <li><router-link to="/products">Sale</router-link></li>
          <li class="divider"></li>
          <li><router-link to="/products">Apolonias</router-link></li>
          <li class="divider"></li>
          <li><router-link to="/products">Joias</router-link></li>
          <li class="divider"></li>
          <li><router-link to="/products">Editoriais</router-link></li>
          <li><router-link to="/products">Lookbook</router-link></li>
          <li><router-link to="/products">Campanha</router-link></li>
          <li><router-link to="/products">Desfiles</router-link></li>
          <li class="divider"></li>
          <li><router-link to="/products">Lojas</router-link></li>
          <li><router-link to="/products">Contato</router-link></li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'NavbarMobile',
  props: {
    msg: String
  },
  data: function () {
    return {
      isActive: false
    }
  }
}
</script>

<style scoped lang="scss">
  $navbar-height: 47px;
  $navbar-background: #fff;
  $divider-color: #bbbcbf;

  .topnav {
    background-color:$navbar-background;
    display:flex;
    align-items:center;
    padding:0 15px;
    height: $navbar-height;
    position:fixed;
    top:0;
    width:100%;
    z-index:99999;
  }

  .topnav > * + * {
    margin-left: 8px;
  }

  .menu {
    flex-grow:1;
    justify-self: flex-start;
    flex-basis:33.3333%;
    .menu-button {
      background:none;
      border:none;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    img {
      margin-bottom:4px;
    }

    span {
      font-size:8px;
    }
  }

  .controls {
    list-style:none;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    justify-self:flex-end;
    flex-grow:1;
    flex-basis:33.3333%;

    a {
      display:flex;
      align-items:center;
    }
  }

  .controls li + li {
    margin-left:16px;
  }

  // Menu Collapsed

  .menu-collapsed.active {
    pointer-events:all;

    .backdrop {
      opacity:1;
    }

    .controls {
      opacity:1;
    }

    .sidebar {
      transform:translateX(0%);
      opacity:1;
    }
  }

  .menu-collapsed {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:0;
    margin:0;
    transition: all 0.6s cubic-bezier(.55,0,.1,1);
    pointer-events:none;

    .backdrop {
      background-color: rgba(0,0,0,0.50);
      position:fixed;
      top:0;
      left:0;
      right:0;
      bottom:0;
      padding:0;
      margin:0;
      width:100vw;
      height:100vh;
      z-index:-1;
      opacity:0;
      transition: all 0.6s cubic-bezier(.55,0,.1,1);
    }

    .sidebar {
      transform:translateX(-100%);
    }

    .controls,.sidebar {
      transition: all 0.6s cubic-bezier(.55,0,.1,1);
      opacity:0;
    }

    .controls {
      display:flex;
      background-color: $navbar-background;
      align-items:center;
      min-height:$navbar-height;

      ul {
        display:flex;
        list-style:none;
        padding:0;
        align-items:center;
        flex-grow:1;
        justify-content:flex-end;
        margin-left:15px;
        margin-right:15px;

        li a {
          display:flex;
          align-items:center;
        }

        .login {
          justify-self:flex-start;
          flex-grow:1;

          a {
            text-decoration:none;
            display:inline-block;
            font-size:12px;
          }
        }
      }
    }

    .sidebar {
      background-color: $navbar-background;
      height:calc(100vh - #{$navbar-height});
      width:400px;
      max-width: calc(100vw - 50px);

      ul {
        overflow-y:scroll;
        width:100%;
        height:calc(100vh - 70px - #{$navbar-height}); /* altura do viewport - search input - navbar */
        li a {
          font-size:12px;
          display:block;
          padding:15px 20px;
          text-decoration:none;
          color:black;
          text-transform: uppercase;
        }

        li.divider {
          border-top: 1px solid $divider-color;
          height:1px;
        }
      }
    }

    .sidebar .search {
      display:flex;
      align-items:center;
      padding:15px;
      position:relative;

      .search-input {
        padding:10px;
        position:relative;
        width:100%;
        border: 1px solid #3c3c3c;
        color: #363636;
        font-size:11px;
        height:40px;

        &::placeholder {
          color: #363636;
          text-transform: uppercase;
        }
      }

      .search-icon {
        position:absolute;
        right:30px;
        top:50%;
        transform:translateY(-50%);
        background:none;
        border:none;
        display:flex;
        align-items:center;
        justify-content: center;
      }
    }
  }
</style>
