<template>
  <div class="product-list" v-if="products">
      <ProductItem
        v-for="product in products.slice(0, currentPage * pageSize)" :key="product.id"
        :productId="product.id"
        :name="product.name"
        :image="product.images[0]"
        :price="product.price"
        :availableQuantity="product.availableQuantity"
        :installments="product.installments"/>
        <button class="load-more" @click="nextPage()" v-if="currentPage < products.length / pageSize">Carregar Mais</button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ProductItem from '@/components/ProductItem.vue'

export default {
  name: 'ProductList',
  components: {
    ProductItem
  },
  data: function () {
    return {
      currentPage: 1,
      pageSize: 12,
      maxPages: null
    }
  },
  methods: {
    nextPage: function () {
      this.currentPage = this.currentPage + 1
      const el = document.querySelector(`.product-list .product-item:nth-child(${(this.currentPage * this.pageSize - 1) - (this.pageSize)})`)
      const y = el.getBoundingClientRect().bottom + window.pageYOffset - 47
      setTimeout(() => { window.scrollTo({ top: y, behavior: 'smooth' }) }, 1)
    }
  },
  computed: {
    ...mapGetters({
      products: 'products/getProducts'
    })
  },
  created () {
    this.$store.dispatch('products/loadProducts')
  }
}
</script>

<style lang="scss" scoped>
.product-list {
    transition: all 0.6s cubic-bezier(.55,0,.1,1);
    max-width:100%;
    display:grid;
    grid-template-columns: repeat(2,calc(50% - 5px));
    grid-gap:10px;
    margin:10px;
    @media(min-width:992px) {
      grid-template-columns: repeat(4,25%);
      grid-gap:0px;
      margin:0px;
    }

    .load-more {
      grid-column-start: 1;
      grid-column-end: -1;
      display:flex;
      justify-content: center;
      align-items:center;
      height:40px;
      border:1px solid black;
      background:none;
      text-transform:uppercase;
      padding:4px 15px;
      @media(min-width:992px) {
        max-width:480px;
        margin:15px auto;
      }
    }
}
</style>
