<template>
  <div class="product-item" :class="{'unavailable': unavailable}" :id="productId">
      <router-link :to="`/product/${this.$props.productId}`">
        <div class="image">
            <img :src="image" alt="">
        </div>
        <div class="info">
            <h4 class="name">{{ name }}</h4>
            <span class="price" v-if="!unavailable">R$ {{ parseFloat(price).toFixed(2) }}</span>
            <span class="out-of-stock" v-else>Indisponível</span>
            <span class="installments" v-if="installments">ou {{ installments.NumberOfInstallments }}x de R$ {{ parseFloat(installments.TotalValuePlusInterestRate / 3).toFixed(2) }}</span>
        </div>
      </router-link>
  </div>
</template>

<script>
export default {
  name: 'ProductItem',
  props: {
    name: String,
    image: String,
    price: Number,
    availableQuantity: Number,
    installments: Object,
    productId: String
  },
  data () {
    return {
      unavailable: this.availableQuantity === 0
    }
  }
}
</script>

<style lang="scss" scoped>
.product-item {
    display:flex;
    flex-direction: column;
    position:relative;
    animation: 0.6s cubic-bezier(.55,0,.1,1) fade-in;
    animation-delay: 0.1s;
    animation-fill-mode: both;
    a {
        text-decoration:none;
        color:black;
    }
    .image {
        overflow:hidden;
        position:relative;
        background-color: #f0f0f0;
        &:before {
            display:block;
            content:"";
            width:100%;
            padding-top: (3/2)*100%;
        }

        img {
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            max-width:100%;
            height:auto;
            display:block;
            transition: all 0.3s cubic-bezier(.55,0,.1,1);
        }
    }

    .info {
        margin-top:4px;
        display:flex;
        flex-direction: column;

        @media(min-width:992px) {
            padding:16px;
        }
        .name {
            font-size:14px;
            font-weight:400;
            margin-bottom:4px;
            white-space:nowrap;
            text-overflow: ellipsis;
            overflow:hidden;
        }
        .price {
            font-size:14px;
            font-weight:500;
            display:block;
        }
        .installments {
            font-size:12px;
            font-weight:400;
            display:block;
        }
    }
}
@media(min-width:992px) {
    .product-item:not(.unavailable):hover {
        .image img {
            transform:scale(1.1);
        }
    }
}

.product-item.unavailable {
    filter: grayscale(1);
    pointer-events:none;
    .image {
        opacity:0.3;
    }

    .info .out-of-stock {
        color:black;
        border:1px solid #777;
        padding:2px 12px;
        font-size:12px;
        border-radius:10px;
        align-self:flex-start;
    }
}

@keyframes fade-in {
    0% {
        opacity:0;
        transform: translateY(10px);
    }

    100% {
        opacity:1;
        transform: translateY(0px);
    }
}
</style>
