<template>
    <div class="filter" :class="{'filter-active': overlay.filter, 'order-active': overlay.order }">
        <ul class="controls">
            <li>
                <button @click="toggleOverlay('filter')">
                    Filtrar
                </button>
            </li>
            <li>
                <button @click="toggleOverlay('order')">
                    Ordenar por
                </button>
            </li>
        </ul>
        <div class="filter-overlay">
            <div class="sidebar">
                <div class="title">
                    <span>Filtrar por:</span>
                </div>
                <div class="content">
                    <ul>
                        <AccordeonItem name="Cores Filtráveis">
                            <ul class="color-list">
                                <li v-for="color in filters.colors" :key="color.name">
                                    <div class="color" :style="{background: color.color}" ></div> {{color.name}}
                                </li>
                            </ul>
                        </AccordeonItem>
                        <AccordeonItem name="Tamanho">
                            <ul class="sizes-list">
                                <li v-for="size in filters.sizes" :key="size">
                                    <button>{{ size }}</button>
                                </li>
                            </ul>
                        </AccordeonItem>
                        <AccordeonItem name="Faixa de Preço">
                            <ul class="prices-list">
                                <li v-for="price in filters.prices" :key="price.name">
                                    {{ price.name }}
                                </li>
                            </ul>
                        </AccordeonItem>
                    </ul>
                </div>
            </div>
        </div>
        <div class="order-overlay">
            <div class="sidebar">
                <div class="title">
                    <span>Ordenar por:</span>
                </div>
                <div class="content">
                    <ul class="order">
                        <li v-for="order in filters.order" :key="order">
                            {{ order }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="backdrop" @click="resetOverlays()"></div>
    </div>
</template>

<script>
import AccordeonItem from '@/components/AccordeonItem.vue'

export default {
  name: 'ProductFilter',
  components: {
    AccordeonItem
  },
  data: function () {
    return {
      overlay: {
        filter: false,
        order: false
      },
      filters: {
        colors: [
          { name: 'Branco', color: '#fff' },
          { name: 'Preto', color: '#000' },
          { name: 'Amarelo', color: '#fed632' },
          { name: 'Off White', color: '#faf6e8' },
          { name: 'Vermelho', color: '#e83f3f' },
          { name: 'Verde', color: '#298951' },
          { name: 'Nude', color: '#e7cfb2' },
          { name: 'Marrom', color: '#8a450a' },
          { name: 'Azul', color: '#559acb' },
          { name: 'Colorido', color: '-webkit-gradient(linear, left top, left bottom, color-stop(7%, #6a4505), color-stop(30%, #aa6017), color-stop(52%, #e77a28), color-stop(74%, #fca762), color-stop(93%, #e4cbae))' },
          { name: 'Cinza', color: '#cfcfd0' },
          { name: 'Laranja', color: '#f39427' },
          { name: 'Rosa', color: '#ed677a' }
        ],
        sizes: ['34', '36', '38', '40', '42', '44', 'PP', 'P', 'M', 'G', 'GG'],
        prices: [
          { name: 'Até R$200', min: 0, max: 200 },
          { name: 'De R$200 a R$600', min: 200, max: 600 },
          { name: 'De R$600 a R$1200', min: 600, max: 1200 },
          { name: 'Acima de R$1200', min: 1200, max: null }
        ],
        order: ['Menor Preço', 'Maior Preço', 'Mais Vendidos', 'Maior Desconto', 'A-Z', 'Z-A']
      }
    }
  },
  methods: {
    resetOverlays: function () {
      this.overlay.filter = false
      this.overlay.order = false
    },
    toggleOverlay: function (target) {
      const temp = this.overlay[target]
      this.resetOverlays()
      this.overlay[target] = !temp
    }
  }
}
</script>

<style lang="scss" scoped>
    .controls {
        display:flex;
        justify-content: center;
        align-items: center;
        list-style:none;
        padding:10px;
        border-top:1px solid black;
        border-bottom:1px solid black;
        margin-bottom:8px;

        li {
            flex-basis:50%;
            display:flex;
            align-items:center;
            justify-content: center;
        }

        li + li {
            border-left:1px solid black;
        }

        button {
            font-size:12px;
            min-height:20px;
            font-weight: 500;
            background:none;
            border:none;
            display:flex;
            align-items:center;
            justify-content: center;
            width:100%;

            img {
                margin-right:8px;
            }
        }
    }

    .backdrop {
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(.55,0,.1,1);
        z-index:2;
    }

    .filter[class*="active"] .backdrop {
        background-color: rgba(0,0,0,0.5);
        pointer-events:all;
    }

    .filter-overlay, .order-overlay {
        z-index:9;
        position:fixed;
        top:47px;
        bottom:0;
        width:100%;
        transition: all 0.3s cubic-bezier(.55,0,.1,1);
        display:flex;
        pointer-events:none;

        & .sidebar {
            background: white;
            width:calc(100% - 50px);
            pointer-events:all;
            max-width:480px;
        }
    }

    .filter-overlay {
        transform:translateX(-100%);
    }
    .order-overlay {
        transform:translateX(100%);
        justify-content: flex-end;
    }

    .filter.filter-active .filter-overlay,
    .filter.order-active .order-overlay {
        transform:translateX(0%);
        opacity:1;
    }

    .filter-overlay .sidebar , .order-overlay .sidebar {
        & .title {
            display:flex;
            align-items:center;
            justify-content: center;
            height:60px;
            border-bottom:1px solid black;
            border-top:1px solid black;
        }

        & .content {
            overflow-y: scroll;
            overflow-x: hidden;
            max-height:calc(100vh - 47px - 60px);
        }
    }

    .filter-overlay {
        .color-list {
            list-style:none;
            display:flex;
            flex-wrap:wrap;
            li {
                display:flex;
                align-items:center;
                margin-bottom:16px;
                flex-basis:50%;
            }
            .color {
                width:20px;
                height:20px;
                border:1px solid #ddd;
                margin-right:8px;
                border-radius:50%;
            }
        }

        .sizes-list {
            list-style:none;
            display:flex;
            flex-wrap: wrap;
            li {
                display:flex;
                align-items:center;
                justify-content:center;
                margin-bottom:16px;
                flex-basis:33.3333%;
                padding:0 8px;

                button {
                    padding: 8px 4px;
                    width:100%;
                    background:none;
                    border:1px solid black;
                }
            }
        }

        .prices-list {
            list-style:none;
            li {
                padding-top:8px;
                padding-bottom:8px;
            }
        }
    }

    .order-overlay {
        ul {
            list-style:none;
            margin-top:8px;
            li {
                padding:8px 15px;
            }
        }
    }
</style>

<style lang="scss">
.filter-overlay, .order-overlay {
    .accordion {
        &:first-child {
            border-top: none;
        }
        border-bottom:1px solid black;
        .title {
            padding: 8px 15px 8px 15px;
        }
        .inner-content {
            padding:0 15px 8px 15px;
        }
    }
}
</style>
