<template>
  <div id="app">
    <NavbarMobile v-if="$isMobile()"/>
    <NavbarDesktop v-else />
    <main id="content">
      <router-view/>
    </main>
    <FooterMobile v-if="$isMobile()"/>
    <FooterDesktop v-else />
  </div>
</template>

<script>
export default {
  components: {
    // Importação é feita desse jeito para tirar vantagem do code splitting do webpack.
    NavbarMobile: () => import(/* webpackChunkName: "navbarMobile" */ '@/components/NavbarMobile.vue'),
    NavbarDesktop: () => import(/* webpackChunkName: "navbarDesktop" */ '@/components/NavbarDesktop.vue'),
    FooterMobile: () => import(/* webpackChunkName: "footerMobile" */ '@/components/FooterMobile.vue'),
    FooterDesktop: () => import(/* webpackChunkName: "footerDesktop" */ '@/components/FooterDesktop.vue')
  }
}
</script>

<style lang="scss">
@import '@/styles/_styles.scss';

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Futura', sans-serif;
}

html {
  overflow-x:hidden;
}

html, body, #app {
  height: 100vh;
  max-width:100vw;
}

#app {
  display:flex;
  flex-direction: column;
}

#content {
  margin-top: 47px; // Altura da navbar, precisa mover pra uma variavel global do sass depois
  @media(min-width:992px) {
    margin-top:108px;
  }
  flex: 1 0 auto;
}
</style>
